/* CSS declarations go here */
html {
    padding: 10px;
    font-family: Verdana, sans-serif;
}

.login-buttons-dropdown-align-right {
    float: right;
}

body
{
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

#Container
{
    height: 90%;
    width: 90%;
    text-align: center;
    margin-left: 32px;
    margin-right: 0px;
    position: absolute;
    overflow: hidden;
    min-width: 600px;
}

#messageContainer
{
    text-align: left;
    margin-top: 0px;
    overflow: scroll;
    float: left;
    position: absolute;
    left: 0;
    bottom: 70px;
    background: gray;
    height: 80%;
    clear: right;
    width: 400px;
}
#userContainer {
    width: 100px;
    height: 90%;
    border: solid 1px #00ff00;
    float: right;
    background: #fff;
    position: absolute;
    right: 0;
    bottom: 32px;
    clear: both;
    overflow: scroll;
}
#inputContainer
{
    background: #fff;
    position:absolute;
    bottom:0px;
    margin-bottom: 4px;
    margin-left: -8px;
    margin-right: 32px;
    width: 20%;
}
#clearit {
    clear:both;
    overflow: hidden;
    width: 100%;
}

button {
    width: 50px;
    height: 25px;
}

#wrapper {
    float: left;
}

#userlist
{
    text-align: left;
    margin-top: 0px;
    overflow: scroll;
    float: left;
    position: absolute;
    left:400px;
    bottom: 55px;
    background: white;
    height: 80%;
    clear: right;
    width: 400px;
}
